@import url(http://fonts.googleapis.com/css?family=Roboto:900);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/* general */
body {font-family: 'Roboto', sans-serif;
background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

}
a {cursor: pointer;}

/* header */
.navbar-nav{
    color: #82F418;
}
.navbar-inverse .navbar-brand {
    font-family: pacifico;
    font-size: 1.8em;
    color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fcc;
}
.navbar-inverse {
    background: #e570e7; /* Old browsers */
    background: -moz-linear-gradient(top,  #e570e7 0%, #c85ec7 47%, #a849a3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e570e7), color-stop(47%,#c85ec7), color-stop(100%,#a849a3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */
}
.navbar-inverse .navbar-nav  li  a,
.navbar-inverse .navbar-nav,
.navbar-inverse .navbar-nav .dropdown-menu li a/*,
.navbar-inverse .navbar-nav .open .dropdown-menu li a*/{
    color: #fff;
}
.navbar-nav .open .dropdown-menu{
    background: #fff;
}
.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover, 
navbar-inverse .navbar-nav .active a:focus{
    background: none;
    filter: none;
    webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .navbar-nav .open .dropdown-menu li:hover, 
.navbar-inverse .navbar-nav .open .dropdown-menu li:focus{
    background-color: #D87FD4;
}


.navbar-inverse .navbar-nav  li  a:hover,
.navbar-inverse .navbar-nav  li  a:focus,
.navbar-inverse .navbar-nav .active a:hover, 
navbar-inverse .navbar-nav .active a:focus,
/*.navbar-inverse .navbar-nav .open .dropdown-menu li a:hover, */
.navbar-inverse .navbar-nav .open .dropdown-menu li a:focus,
.navbar-inverse .navbar-nav li.open a.dropdown-toggle,
.navbar-inverse .navbar-nav li a.dropdown-toggle:hover span, 
.navbar-inverse .navbar-nav li a.dropdown-toggle:focus span,
.navbar-inverse .navbar-nav li a.dropdown-toggle:hover .caret,
.navbar-inverse .navbar-nav li a.dropdown-toggle:focus .caret{
    color: #fcc;
}
.navbar-inverse .navbar-nav li a.dropdown-toggle,
.navbar-inverse .navbar-nav li a.dropdown-toggle span,
.navbar-inverse .navbar-nav li a.dropdown-toggle .caret {
    color: #fff;
}
.navbar-inverse .navbar-nav li.dropdown.open span{
    
} 
.navbar-inverse .navbar-nav .open a.dropdown-toggle,
.navbar-inverse .navbar-nav a.dropdown-toggle:hover, 
.navbar-inverse .navbar-nav a.dropdown-toggle:focus {
    background: #D87FD4;
}

/* preview */
.preview{
    height: 50%;
    background: #F8F99A;
    border-top: 2px solid #e570e7;
}
.preview .title {
    color: #2B2B21;
    text-align: center;
        font-size: 1.5em;
}
.preview .body {
    color: #2B2B21;
    font-family: arial, verdana, sans-serif;
    font-size: 1em;
}

/* list */
.book-list-wrapper {
    max-height: 20em;
}
.list-group-item a ,
.list-group-item-selection {
    display: inline-block;
    cursor: pointer;
}
input.list-group-item-selection {
    margin-right: .5em;
}
.item-selected {
    background-color: #ddd;
}

/* media queries */
@media (min-width: 768px){
    .navbar-nav{
        float: right;
    }
    .navbar-inverse .navbar-nav a.dropdown-toggle, 
    .navbar-inverse .navbar-nav a.dropdown-toggle:hover, 
    .navbar-inverse .navbar-nav a.dropdown-toggle:focus {
        background: transparent;
    }
    .navbar-inverse .navbar-nav,
    .navbar-inverse .navbar-nav .dropdown-menu li a{
        color: #e570e7;
    }
        .preview {
        height: 44%;
    }
    .preview .title {
        font-size: 30px;
    }
    .preview .body {
        font-size: 1.2em;
    }
}